<div class="news">
  <h2>Recent Blog Posts</h2>
  {% if site.news  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign posts = site.posts | reverse %}
      {% for post in posts limit: 10%}
        <tr>
          <th scope="row">{{ post.date | date: "%b %-d, %Y" }}</th>
          <td>
            <a class="news-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No posts so far...</p>
  {% endif %}
</div>
